# Directories
#------------
references
data
assessment

# MAC-specific files
#-------------------
*.DS_Store

# R-specific files to ignore (see https://github.com/github/gitignore)
#---------------------------------------------------------------------
# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
